.section_motion
	padding-top 120px
	padding-bottom 100px
	@media screen and (max-width: 540px)
		padding-top 70px
		padding-bottom 45px

.motion__content
	display flex
	flex-direction row
	justify-content space-between
	margin-top 65px
	@media screen and (max-width: 540px)
		flex-direction column

.content-item--items
	&:not(:last-child)
		margin-bottom 42px
		@media screen and (max-width: 540px)
			margin-bottom 34px
	@media screen and (max-width: 540px)
		margin-bottom 34px
	.icon
		margin-bottom 27px
	h4
		font-size 16px
		font-family: fPoppinsBold
		c cBlack
		margin-bottom 14px
	p
		font-size 15px
		line-height 23px
		c #a4a4a4

.circle-block
	position relative
	flex-wrap wrap
	display flex
	min-width 430px
	min-height 364px
	@media screen and (max-width: 1024px)
		min-width 100%
		width 364px
	@media screen and (max-width: 900px)
		width 270px
	.circle-img
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		@media screen and (max-width: 1024px)
			opacity .7
	.circle-img--product
		position relative
		margin auto

.motion
	&__content-item
		@media screen and (max-width: 640px)
			&:nth-child(1)
				padding-right 10px
			&:nth-child(2)
				display none
			&:nth-child(3)
				padding-left 10px
		@media screen and (max-width: 540px)
			width 100%
			padding-left 0
			padding-right 0