extends layout.pug

block prepend header
	- var selected = 'index'

block prepend main
	svg.shape-overlays(viewbox='0 0 100 100', preserveaspectratio='none')
		path.shape-overlays__path
		path.shape-overlays__path
		path.shape-overlays__path

	+b.MAIN.section_main
		+b.SECTION.new-section
			| Main
		a.button--call#create-cup-open
			| Button
		