+b.SECTION.header-content
	.container
		.content-center
			+e.H1.__heading 
				| Prevent Musculoskeletal injuries 
				br
				| with AI powered analytics
			+e.P.__paragraph
				| Bushwick meh Blue Bottle pork belly mustache 
				br
				| skateboard.
			a(href="#popup-send").button.popup
				| Request quote