+b.SECTION.header-content
	.container
		.content-center
			+e.H1.__heading 
				| Prevent Musculoskeletal injuries 
				br
				| with AI powered analytics
			+e.P.__paragraph
				| Reduce Shoulder, Low Back injuries with a data driven assessment system
				br
				| skateboard.
			a(href="#popup-send").button.popup
				| Request quote