+b.SECTION.header-content
	.container
		.content-center
			+e.H1.__heading 
				| Optimize your sit-stand 
				br
				| desk Utilization
			+e.P.__paragraph
				| Obtain insights, increase sit-stand desk usage and 
				br
				| reduce sedentary behavior with a simple to 
				br
				| use werable device
			a(href="#popup-send").button.popup
				| Request quote