+b.SECTION.motion._motion
	.container
		H2.heading-h2
			| The wearable that helps beat 
			br
			| sedentary behavior
		+e.DIV.__content
			+e.DIV.__content-item
				.content-item--items
					.icon
						img(src="/img/icon-people1.svg", alt="")
					h4
						| Accurately measure sedentary times
					p
						| Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem y text 
				.content-item--items
					.icon
						img(src="/img/icon-people4.svg", alt="")
					h4
						| Sedentary behavior
					p
						| Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem y text 

			+e.DIV.__content-item
				.circle-block
					img(src="/img/circle-dotted.svg", alt="").circle-img
					img(src="/img/product-circle.png", alt="", width="115px").circle-img--product

			+e.DIV.__content-item
				.content-item--items
					.icon
						img(src="/img/icon-people2.svg", alt="")
					h4
						| Sedentary behavior
					p
						| Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem y text 
				.content-item--items
					.icon
						img(src="/img/icon-people1.svg", alt="")
					h4
						| Sedentary behavior
					p
						| Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem y text 