+b.SECTION.motion._motion
	.container
		H2.heading-h2
			| AI powered Motion Capture system to 
			br
			| prevent injuries for Industrial Jobs
		+b.DIV.__motion-wrapper
			+b.DIV.__items
				+e.DIV.__icon
					img(src="/img/motion-1.svg", alt="")
				p Measure shoulder, back injury 
					br
					|risk
			+b.DIV.__items
				+e.DIV.__icon
					img(src="/img/motion-2.svg", alt="")
				p Assess readiness of employees Returning to Work after unjury
			+b.DIV.__items
				+e.DIV.__icon
					img(src="/img/motion-3.svg", alt="")
				p Use our proprietary deep learning models for accurate activity recognition 