+b.SECTION.motion.motion-new--section._motion
	.container
		H2.heading-h2
			| The wearable that helps beat 
			br
			| sedentary behavior
		.motion-new
			.motion-new--item
				img(src="img/motion-new-1.png", alt="")
				h4 Accurately measure sedentary times
				p Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem y text,
			.motion-new--item
				img(src="img/motion-new-2.png", alt="")
				h4 Understand prolonged sit/stand patterns
				p Lorem Ipsum is simply dummy text of the printing  and typesetting industry. Lorem y text. 
			.motion-new--item
				img(src="img/motion-new-3.png", alt="")
				h4 Use targeted notifications for behavior changes
				p App provides targeted feedback to reduce sedentary behavior in work places