+b.SECTION.motion._motion
	.container
		H2.heading-h2
			| AI powered Motion Capture system to 
			br
			| prevent injuries for Industrial Jobs
		+b.DIV.__motion-wrapper
			+b.DIV.__items
				+e.DIV.__icon
					img(src="/img/motion-new-4.png", alt="")
				p Measure shoulder, back  
					br
					| injury risk
			+b.DIV.__items
				+e.DIV.__icon
					img(src="/img/motion-new-5.png", alt="")
				p Assess readiness of employees Returning to Work after unjury
			+b.DIV.__items
				+e.DIV.__icon
					img(src="/img/motion-new-6.png", alt="")
				p Use our proprietary AI for accurate 
					br
					| activity recognition for productivity 
					br
					| measurement