+b.SECTION.descript-platform_
	.container
		+b.platform_
			+b.platform-item_
				+e.__text
					h4
						| AI powered Analytics for
						| optimizing activities
					p
						| Get securate estimates of work, rest schedule to manage risk, productivity.
				+e.DIV.__img
					img(src="/img/platform1.png", alt="Platform")
			+b.platform-item_
				+e.DIV.__img.left-img
					img(src="/img/platform2.png", alt="Platform")
				+e.__text
					h4
						| Use Caption: Enterprise Risk 
					p
						| Use our secure cloud dashboard to understand enterprise level risks