+b.SECTION.__device-action.device-action_
	.container
		+e.__wrapper-main
			+e.H3.__heading
				| Our device in action
			+e.__wrapper
				+e.__items
					img(src="/img/device-action1.jpg", alt="")
				+e.__items.portrate-img
					img(src="/img/device-action2.jpg", alt="")
				+e.__items
					img(src="/img/device-action3.jpg", alt="")
				+e.__items
					img(src="/img/device-action4.jpg", alt="")
				+e.__items
					img(src="/img/device-action5.jpg", alt="")
