+b.SECTION.descript-platform_
	.container
		+b.platform_
			+b.platform-item_
				+e.__text
					h4
						| AI powered Analytics for
						br
						| optimizing activities
					p
						| Get securate estimates of work, rest schedule to manage risk, productivity.
				+e.DIV.__img
					img(src="/img/platform-new1.png", alt="Platform")
			+b.platform-item_
				+e.DIV.__img
					img(src="/img/platform-new2.png", alt="Platform")
				+e.__text
					h4
						| Web based platform 
						| for Return work flow 
						| managment
					p
						| Use our web based platform to manage work load of workers. Returning back from Injury and ensuring that they stay within the phsician recommended limits.