+b.SECTION.__device-action.device-action_
	.container
		+e.__wrapper-main
			//- +e.H3.__heading.small
				| For use in consturction, 
				br
				| automotive, warehousing 
				br
				| industries...
			+e.__wrapper
				+e.__items
					img(src="/img/device-action2-1.jpg", alt="")
				+e.__items.portrate-img
					img(src="/img/device-action2-2.jpg", alt="")
				+e.__items
					img(src="/img/device-action2-3.jpg", alt="")
				+e.__items
					img(src="/img/device-action2-4.jpg", alt="")
				+e.__items
					img(src="/img/device-action2-5.jpg", alt="")
