+b.SECTION.news-wrapper_
	.container
		H3.heading-h2
			| Latest news
		+b.news_
			+e.__items
				+e.A(href="#").__block-images
					img(src="/img/news1.jpg", alt="News Images")
				+e.P.__date
					| 15th February, 2019
				+e.H3.__heading-news
					a(href="#")
						| Introducing the Screenly App Store
				+e.P.__desc-news
					| Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat it was my cheerful…
				+e.A(href="#").__more
					| Read More
			+e.__items
				+e.A(href="#").__block-images
					img(src="/img/news2.jpg", alt="News Images")
				+e.P.__date
					| 15th February, 2019
				+e.H3.__heading-news
					a(href="#")
						| Introducing the Screenly App Store
				+e.P.__desc-news
					| Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat it was my cheerful…
				+e.A(href="#").__more
					| Read More
			+e.__items
				+e.A(href="#").__block-images
					img(src="/img/news3.jpg", alt="News Images")
				+e.P.__date
					| 15th February, 2019
				+e.H3.__heading-news
					a(href="#")
						| Introducing the Screenly App Store
				+e.P.__desc-news
					| Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat it was my cheerful…
				+e.A(href="#").__more
					| Read More