+b.SECTION._start-using
	.container
		+b.start-using_
			if(selected == "index")
				h4
					| Start using ActivTrack
			else
				h4
					| Start using SpineTrack
			p
				| In the tumultuous business of cutting-in and attending 
				br
				| to a whale, there is much running.
			a(href="#popup-send").button.popup
				| Request quote